<section class="header-section">
  <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style">
  <mat-button-toggle value=" ">Todas</mat-button-toggle>
  <mat-button-toggle value="Revisadas">Revisadas</mat-button-toggle>
  <mat-button-toggle value="Sin Revisar">Sin Revisar</mat-button-toggle>
  </mat-button-toggle-group>
</section>
<h3 style="text-align:center"> Lista Incidencias
</h3>

<br><br>
<h3 style="text-align:center"><strong>Incidencias {{fontStyle}}</strong></h3>

<table class="table table-Info table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Lugar</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Posible Solucion</th>
      <th scope="col">Estado</th>
      <th scope="col">Revision</th>
    </tr>
  </thead>
  <tbody *ngIf="fontStyle == ' '">
      <tr *ngFor="let incidencia of listaIncidencias; let i = index" routerLink="detalles/{{incidencia.documentId}}">
          <th scope="row">{{i + 1}}</th>
          <td>
              {{incidencia.lugarIncidencia}}
          </td>
          <td>
              {{incidencia.descripcion}} 
          </td>
          <td>
              {{incidencia.posibleSolucion}}
          </td>
          <td>
            {{incidencia.estadoIncidencias}}
        </td>
        <td>
            {{incidencia.revisionIncidencia}}
        </td>
      </tr>
  </tbody>

  <tbody *ngIf="fontStyle == 'Revisadas'">
      <tr *ngFor="let incidencia of listaIncidenciasRevisadasTrue; let i = index" routerLink="detalles/{{incidencia.documentId}}">
          <th scope="row">{{i + 1}}</th>
          <td>
              {{incidencia.lugarIncidencia}}
          </td>
          <td>
              {{incidencia.descripcion}} 
          </td>
          <td>
            {{incidencia.posibleSolucion}}
        </td>
        <td>
          {{incidencia.estadoIncidencias}}
      </td>
      <td>
          {{incidencia.revisionIncidencia}}
      </td>
      </tr>
  </tbody>

  <tbody  *ngIf="fontStyle == 'Sin Revisar'">
      <tr *ngFor="let incidencia of listaIncidenciasRevisadasFalse; let i = index" routerLink="detalles/{{incidencia.documentId}}">
          <th scope="row">{{i + 1}}</th>
          <td>
              {{incidencia.lugarIncidencia}}
          </td>
          <td>
              {{incidencia.descripcion}} 
          </td>
          <td>
            {{incidencia.posibleSolucion}}
        </td>
        <td>
          {{incidencia.estadoIncidencias}}
      </td>
      <td>
          {{incidencia.revisionIncidencia}}
      </td>
      </tr>
  </tbody>
</table>
 <app-volver></app-volver>