<section class="header-section">
  <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style">
  <mat-button-toggle value=" ">Todas</mat-button-toggle>
  <mat-button-toggle value="revisadas">Revisadas</mat-button-toggle>
  <mat-button-toggle value="no revisadas">No revisidadas</mat-button-toggle>
  </mat-button-toggle-group>
</section>
<h3 style="text-align:center"> Lista Incidencias
  <abbr title="Haz click en cualquier parte de la lista para ver los detalles de la Incidencia" ><button class="btn btn-warning">?</button></abbr>
</h3>

<br><br>
<h3 style="text-align:center"><strong>Incidencias {{fontStyle}}</strong></h3>

<table class="table table-Info table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Lugar</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Revisada</th>
    </tr>
  </thead>
  <tbody *ngIf="fontStyle == ' '">
      <tr *ngFor="let incidencia of listaIncidencias; let i = index" routerLink="/revisionIncidencias/revisionIncidencias/{{incidencia.id}}">
          <th scope="row">{{i + 1}}</th>
          <td>
              {{incidencia.data.lugar}}
          </td>
          <td>
              {{incidencia.data.descripcion}} 
          </td>
          <td>
              {{incidencia.data.revisada}}
          </td>
      </tr>
  </tbody>

  <tbody *ngIf="fontStyle == 'Revisadas'">
      <tr *ngFor="let incidencia of listaIncidenciasRevisadasTrue; let i = index" routerLink="/revisionIncidencias/revisionIncidencias/{{incidencia.id}}">
          <th scope="row">{{i + 1}}</th>
          <td>
              {{incidencia.data.lugar}}
          </td>
          <td>
              {{incidencia.data.descripcion}} 
          </td>
          <td>
              {{incidencia.data.revisada}}
          </td>
      </tr>
  </tbody>

  <tbody  *ngIf="fontStyle == 'Sin Revisadas'">
      <tr *ngFor="let incidencia of listaIncidenciasRevisadasFalse; let i = index" routerLink="/revisionIncidencias/revisionIncidencias/{{incidencia.id}}">
          <th scope="row">{{i + 1}}</th>
          <td>
              {{incidencia.data.lugar}}
          </td>
          <td>
              {{incidencia.data.descripcion}} 
          </td>
          <td>
              {{incidencia.data.revisada}}
          </td>
      </tr>
  </tbody>
</table>
 <app-volver></app-volver>